@import url(./variables.css);

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 1rem;

}

.header_area .main-menu .navbar{
    padding: 1rem 1rem;
}

.header_area .main-menu .nav-item .nav-link{
    text-transform: uppercase;
    padding: 4rem;
    color: #010125;
    font-family: 'anta';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 2px;
}

.header_area .main-menu .navbar .active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px  solid blue
}

/*Banner area*/
.site-main .site-banner{
    background: url(../img/fundo.png) no-repeat 0% center / cover;
}

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 15vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 7rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem;
    width: 90rem;
}
/*end banner area*/

/* start service area */

.title-text{
    font: normal bold 50px/100px var(--anta);
}

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--anta);
    position: relative;
    border: 3px solid transparent;
    border-radius: 10px;
}

.button a{
    text-decoration: none;
    color: whitesmoke;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    box-shadow: var(--shadow-color);
}

.button.primary-button:hover{
    background: blue;
    background-clip: padding-box;
}

.button.primary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 10px;
}

.button.secundary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    box-shadow: var(--shadow-color);
}

.button.secundary-button:hover{
    background: blue;
    background-clip: padding-box;
}

.button.secundary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 10px;
}
.header_area .main-menu .container .navbar-brand img{
    width: 400px;
}

.services .service-intro .service-info h3{
    padding: 5% 0 0 0;
    margin-top: 20rem;
    font-weight: 500;
    margin-left: 10%;
}

.services .service-intro .service-info h1{
    font-size: 4rem;
    margin-left: 10%;
}

.services .service-intro .service-info h4{
    font-size: 2.5rem;
    padding: 0 0 3% 0;
    margin-left: 10%;
}

.service-text{
    font: normal bold 25px/50px var(--anta);
    
}

.sobre-text{
    font: normal bold 100px/150px var (--anta);
}

.services .service-intro .service-button .services-button {
    margin-left: 20%;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    box-shadow: var(--shadow-color);
}

.services .service-intro .service-button .services-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 10px;
}

.services .service-intro .service-button .services-button:hover{
    background: blue;
    background-clip: padding-box;
}

.services .service-intro .service-image > img{
    margin-top: 30%;
    width: 90rem
}

/*end Service area*/

/* Start Sobre Area */

.start-sobre .sobre-intro .sobre-info h3{
    padding: 5% 0 0 0;
    margin-top: 20rem;
    font-weight: 500;
    margin-left: 10%;
}

.start-sobre .sobre-intro .sobre-info h1{
    font-size: 4rem;
    margin-left: 10%;
}

.start-sobre .sobre-intro .sobre-info h4{
    font-size: 2.5rem;
    padding: 0 0 3% 0;
    margin-left: 10%;
}

.start-sobre .sobre-intro .sobre-img > img{
    margin-top: 30%;
    width: 90rem
}

.start-sobre .sobre-intro .sobre-buttons{
    margin-left: 35%;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6 ease;
    box-shadow: var(--shadow-color);
}

.start-sobre .sobre-intro .sobre-buttons::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 10px;
}

.start-sobre .sobre-intro .sobre-buttons:hover{
    background: blue;
    background-clip: padding-box;
}














@media (max-width: 790px) {
   
    .header_area .main-menu .container .navbar-brand img{
     width: 250px;
     }

     .start-sobre .sobre-intro .container .row
     .sobre-info h1{
        font-size: 3rem;
     }

     .start-sobre .sobre-intro .sobre-info h4{
        font-size: 1.9rem;
    }
 }